{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row mb-3">
        <div class="col">
            <div class="card bg-light">
                <div class="card-body">
                    {{ form_start(form) }}
                    {{ form_row(form.query) }}
                    {{ form_row(form.category) }}
                    {{ form_row(form.createdThisMonth) }}
                    <button class="btn btn-primary">Submit</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}
